{% extends "basic.html" %}

{%  block title %}
Словарь
{% endblock %}

{%  block page_title %}
Словарь
{% endblock %}


{% block content %}
    <h1>Все слова:</h1>
    {% if user.is_authenticated %}
        <p>Фильтр по:</p>
        <form action="{% url 'main' %}" method="get"> 
            <select name="selecter">
                <option value="None">--------</option>
                <option value="word">Названию</option>
                <option value="type">Типу (n,v,a)</option>
                <option value="translation">Переводу</option>
              </select>
              <button type="submit" value="Применить">Применить</button>
        </form>
        <form action="{% url 'main' %}" method="get"> 
            <button type="submit" value="Сбросить">Сбросить</button>
        </form>
        
    {% endif %}
    <hr>
    {% for word in words %}
        <h2> <a href="{% url 'ex_word' word.pk %}"> {{ word.word }} </a> </h2> (<p5>{{ word.type }}</p5>) - <p2>{{ word.translation }} <br></2>
        {% if word.get_synonyms.count > 0 %}
        <p5>Синонимы: </p5>
        {% endif %}
        {% for s in word.get_synonyms %}
            {{ s }}
        {% endfor %}
        <hr>
        
    {% endfor %}
{% endblock %}