{% extends "basic.html" %}

{% block title %}
Словарь
{% endblock %}

{%  block page_title %}
Словарь
{% endblock %}


{% block content %}
    <h1>Все слова:</h1>
    {% if user.is_authenticated %}
        <p>Фильтр по:</p>
        <form action="{% url 'main' %}" method="get"> 
            <select name="selecter">
                <option value="None">--------</option>
                <option value="word">Названию</option>
                <option value="type">Типу (n,v,a)</option>
                <option value="translation">Переводу</option>
              </select>
              <button type="submit" value="Применить">Применить</button>
        </form>
        <form action="{% url 'main' %}" method="get"> 
            <button type="submit" value="Сбросить">Сбросить</button>
        </form>
        
    {% endif %}
    <hr>
    {% for word in words %}
        <h2> <a href="{% url 'ex_word' word.pk %}"> {{ word.word }} </a>  <h5> <a href="{% url 'users' %}">(by {{ word.author }})</a></h5> </h2>  <p2>{{ word.translation }} <br></p2>
        <hr>
    {% endfor %}
{% endblock %}