{% extends "basic.html" %}

{%  block title %}
Словарь
{% endblock %}

{%  block page_title %}
{{ word.word }}
{% endblock %}


{% block content %}
<p> <b>Перевод:</b> {{ word.translation }} </p>
<hr>


<p> <b>Язык:</b> {{ word.language }} </p>
<hr>
{% if user.is_authenticated %}
<!------------Если ли синонимы----------------->
{% if word.synonyms.count == 0 %}
<p> <b>Синонимы:</b> Нет </p>
<hr>
{% else %}
<p> <b>Синонимы:</b> 
    {% for sy in word.synonyms.all  %}
        <a href="{% url 'ex_word' sy.pk  %}">{{ sy }}</a>,
    {% endfor %}
    </p>
<hr>
{% endif %}
<!--------------------------------------------->
<p> <b>Тип:</b> {{ word.type }} </p>
<hr>
<p> <b>Пояснение-пример:</b> {{ word.discription }} </p>
<hr>
<p> <b>Рейтинг (от {{ word.author }}):</b> {{ word.rate }} </p>
<hr>
<p> <b>Дата добавления:</b> {{ word.add_date }} </p>
<hr>
<p> <b>Автор:</b> {{ word.author }} </p>
<hr>
<!------------Архивировано слово или нет----------------->
{% if word.archived %}
    <p> <b>Архивировано:</b> Да </p>
    <hr>
{% else %}
    <p> <b>Архивировано:</b> Нет </p>
<hr>
{% endif %}

<!------------------------------------------------------->
    {% if word.img != None %}
        <p> <b>Картинка:</b> </p> <img style="width: 320px; height: 200px; border-radius: 30px;" src="{{ word.img.url }}">
        <hr>
    {% else %}
        <p> <b>Картинка:</b> Отсутствует</p> 
        <hr>
    {% endif %}
{% else %}
<h2> <a href="{% url 'login' %}">Войдите</a>, чтобы увидеть больше информации о слове...</h2>
{% endif %}
{% endblock %}