{% extends "basic.html" %}

{%  block title %}
Магазин
{% endblock %}

{%  block page_title %}
{% if user.is_authenticated %}
    <h1> Личный кабинет - {{ user }}</h1> 
{% else %}
    <h1> Вы, кажется, тут впервые...</h1> 
{% endif %}
{% endblock %}



{% block content %}
{% if user.is_authenticated %}
    <h2>Ваши товары:</h2>
    <hr>
    {% for product in user_products %}
        <h3> <a href="{% url 'products:ex_product' product.pk %}">{{ product }}</a> </h3>
        <hr>
    {% endfor %}

    <button><a href="{% url 'orders:new_order' %}">Создать новый заказ</a></button> 
    <hr>
    <h2>Предложения о продаже:</h2>

    <hr>
    {% for ord in orders %}
        <h3> {{ ord.from_user }} >>> {{ ord.to_user }}</h3> 
            <h3>Товары:
            {% for prod in ord.products.all %}
                <a href="">{{ prod }},</a>
            {% endfor %}
            </h3>
        <h3>STATUS: {{  ord.get_readable_status }}</h3>
        <h3><a href="/">[link]</a></h3>

        {% if user == ord.from_user %}   
            <form action="{% url 'users:home' %}" method="post"> 
                {% csrf_token %}
                <button type="submit" name="status" value="{{ ord.pk }}.0">Отменить</button>
            </form>
        {% else %}
            <form action="{% url 'users:home' %}" method="post"> 
                {% csrf_token %}
                <button type="submit" name="status" value="{{ ord.pk }}.1">Подтвердить</button>
                <button type="submit" name="status" value="{{ ord.pk }}.0">Отказать</button>
            </form>
        {% endif %} 

        <hr>
    {% endfor %}
{% else %}
<p3>Мы не знаем, кто Вы...<br> <a href="{% url 'login' %}">Войдите</a> в свой аккаунт или <a href="{% url 'users:signup' %}">зарегестрируйтесь</a>!</p3>
{% endif %}
{% endblock %}