{% extends "basic.html" %}

{%  block title %}
Словарь
{% endblock %}

{%  block page_title %}
{% if user.is_authenticated %}
    <h1> Личный кабинет - {{ user }}</h1> 
{% else %}
    <h1> Вы, кажется, тут впервые...</h1> 
{% endif %}
{% endblock %}



{% block content %}
{% if user.is_authenticated %}
    <h2>Ваши слова:</h2>
    <hr>
    {% for word in author_words %}
        <h3> <a href="{% url 'ex_word' word.pk %}">{{ word }}</a> </h3>
        <hr>
    {% endfor %}
    <h2>Предложения об обмене:</h2>
    <hr>
    {% for exch in exchanges %}
        <h3> {{ exch.from_user }} >>> {{ exch.to_user }}. WORD: "<a href="{% url 'ex_word' exch.word.pk %}">{{ exch.word }}</a>" </h3> 
        <h3>STATUS: {{  exch.status }}</h3>
        <h3><a href="/">[link]</a></h3>

        <form action="{% url 'home' %}" method="post"> 
                {% csrf_token %}
                <button type="submit" name="status" value="{{ exch.pk }}.1">Подтвердить</button>
                <button type="submit" name="status" value="{{ exch.pk }}.0">Отказать</button>
        </form>
        <hr>
    {% endfor %}
{% else %}
<p3>Мы не знаем, кто Вы...<br> <a href="{% url 'login' %}">Войдите</a> в свой аккаунт или <a href="{% url 'signup' %}">зарегестрируйтесь</a>!</p3>
{% endif %}
{% endblock %}