{% extends "basic.html" %}

{% block title %}
Магазин
{% endblock %}

{%  block page_title %}
Магазин
{% endblock %}

{% block content %}
    <h1>Категория: {{ current_cat.name_with_quotes }}</h1> 
    {% for cat in categories %}
        {% if cat.pk != current_cat.pk %}
            <a href="{% url 'products:ex_category' cat.pk %}">{{ cat.name }}</a>
        {% endif %}
    {% endfor %}
    {{ cat.name }}
    <hr>
    <h1>Все товары:</h1>
    {% if user.is_authenticated %}
        <p>Фильтр по:</p>
        <form action="{% url 'catalog:catalog' %}" method="get"> 
            <select name="selecter">
                <option value="None">--------</option>
                <option value="name">Названию</option>
                <option value="category">Категории</option>
                <option value="price">Цене</option>
              </select>
              <button type="submit" value="Применить">Применить</button>
        </form>
        <form action="{% url 'catalog:catalog' %}" method="get"> 
            <button type="submit" value="Сбросить">Сбросить</button>
        </form>
    {% endif %}
    <hr>
    {% for product in products %}
        <h2> <a href="{% url 'products:ex_product' product.pk %}"> {{ product.name }} </a>  
            <h2> {{ product.price }}₽ </h2>
            <h5> <a href="{% url 'users:users' %}">(by {{ product.seller }}) [{{ product.add_date|date:"d M, Y" }}]</a></h5>
         </h2>  <p2>{{ product.category }} <br></p2>
        <hr>
    {% endfor %}
{% endblock %}